* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, td, th {
    border: 1px solid #414141;
}

td {
    width: 200px;
    height: 45px;
    font-size: .8rem !important;
}

button {
    background-color: rgb(204, 42, 42);
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s linear;
}

button:hover {
    background-color: rgb(235, 69, 69);
}

.main {
    min-width: 1400px;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
    min-height: 650px;
    padding: 10px;
}

#loading {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff52;
    position: fixed;
    z-index: 100;
    align-items: center;
    justify-content: center;
    display: flex;
}

#loading img {
    width: 120px;
    height: auto;
}

.table, .table_absolute {
    margin-top: 40px;
    border-collapse: collapse;
    position: absolute;
}

.header, .header1 {
    background-color: #2D8ECE;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
}

.header1 {
    width: 120px !important;
}

.course {
    vertical-align: middle;
    text-align: start;
    padding: 0 4px;
    background-color: #F5F5DC;
    position: relative;
    z-index: 5;
}

.cell {
    position: absolute;
    border: 0;
}

.text-color {
    color: #31755E;
    font-weight: bold;
}

.text-mutted {
    color: #80808C;
    font-weight: bold;
}

.space_left {
    margin-left: 10px;
}